.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.idea
__pycache__/
*.pyc
big2rl_checkpoints/
big2rl_checkpoints/big2rl/out.log

# slurm report
**/slurm-*.out
slurm-*.out
slurm_report/big2rl.yml
eval_data.pkl
main.py